{% extends "layout.html" %}

{% block title %}
    Remove
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
    {% endif %}
{% endblock %}

{% block main %}
    <div>
        <form action="/administration" method="post">
            <div>
                Statistics:
                <ul>
                    <li>Admin: {{ admin | length }}</li>
                    <li>User: {{ user | length }}</li>
                    <li>Unconfirmed: {{ unconfirmed | length }}</li>
                    <li>Logged: {{ logged | length }}</li>
                </ul>
            </div>
            <hr>
            <div>
                Logged:
                <ul>
                    {% for element in logged %}
                        <li>{{ element }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div>
                User:
                <ul>
                    {% for element in user %}
                        <li>{{ element[0] }} - {{ element[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div>
                Admin:
                <ul>
                    {% for element in admin %}
                        <li>{{ element }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div>
                <input id="remove" autocomplete="off" autofocus class="form-control" name="remove" placeholder=" Remove user" type="text">
                <button type="submit" name="remove" value="remove">Remove</button>
            </div>
            <br>
            <div>
                <input id="promote" autocomplete="off" autofocus class="form-control" name="promote" placeholder=" Promote user" type="text">
                <button type="submit" name="promote" value="promote">Promote</button>
            </div>
            <br>
            <div>
                <input id="demote" autocomplete="off" autofocus class="form-control" name="demote" placeholder=" Demote admin" type="text">
                <button type="submit" name="demote" value="demote">Demote</button>
            </div>
            <br>
        </form>
    </div>
    <br>
    <div>
        <a href="/">Index</a>
    </div>
{% endblock %}