{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
    {% endif %}
{% endblock %}

{% block main %}
    <div id="c01">
        <div>
            <div id="c02"></div>
            <div>
                <input id="text" name="text" placeholder="Say something..." type="text">
                <button type="submit">Send</button>
            </div>
        </div>
        <div>
            <div id="c03">
                <input id="create" name="create" placeholder="Create a room" type="text">
                <button onclick="join()">Join</button>
            </div>
            <div id="c04">
                <div id="rooms"></div>
            </div>
        </div>
    </div>

    <form action="/chat" method="post">
    </form>
    <br>
    <div>
        <a href="/">Index</a>
    </div>

    <style>
        #c01 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        #c02 {
            width: 500px;
            height: 250px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #c03 {
            margin-right: 10px;
        }

        #c04 {
            margin-left: 10px;
        }

    </style>

    <script>

        // chat text
        // chat notifications

    
    </script>
{% endblock %}