{% extends "layout.html" %}

{% block title %}
    Communication
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/communication" method="post" enctype="multipart/form-data">
        <div>
            {% if role == "admin" %}
                <div>
                    <input id="address" autocomplete="off" autofocus class="form-control" name="address" placeholder="Address" type="text">
                </div>
                <br>
            {% endif %}
            <div>
                <input id="subject" autocomplete="off" autofocus class="form-control" name="subject" placeholder="Subject" type="text">
            </div>
            <br>
            <div style="width:500px;">
                {{ ckeditor.create() }}
                {{ ckeditor.load(pkg_type="basic") }}
            </div>
            <br>
            {% if role == "admin" %}
                <div>
                    <input type="checkbox" id="newsletter" name="newsletter" value="newsletter">
                    <label for="newsletter"> Send to all users?</label>
                </div>
                <br>
            {% endif %}
            <div>
                <button id="submit" type="submit" name="submit" value="submit">Send</button>
            </div>
        </div>
        <br>
        <div>
            <a href="/">Index</a>
        </div>
    </form>
{% endblock %}