{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div>Hello {{ name }}</div>

    <img src="{{ picture }}" alt="Profile picture of {{ name }}" height="50">

    <div>
        <a href="/username">Username</a>
        <a href="/password">Password</a>
        <a href="/email">Email</a>
        <a href="/newsletter">Newsletter</a>
        <a href="/picture">Picture</a>
        <a href="/delete">Delete</a>
    </div>
    <br>
    <div>
        {% if role == "admin" %}
            <a href="/administration">Administration</a>
        {% endif %}
        <a href="/chat">Chat</a>
        <a href="/communication">Communication</a>
        <a href="/server">Server</a>
        <a href="/clock">Clock</a>
        <a href="/calculator">Calculator</a>
    </div>
    <br>
    <a href="/logout">Logout</a>
{% endblock %}