{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="PasswordMain">
            <div>
                <input id="password" name="password" type="password" placeholder="Password (7 to 15 char, min 1 numeric & special)." size="35">
            </div>
            <div>
                <input id="confirm-pass" name="confirm-password" placeholder="Confirm Password" type="password" size="35">
            </div>
            <div>
                <button id="updatePassword" type="submit">Save</button>
            </div>
        </div>
    </form>
    <br>
    <div>
        <a href="/">Index</a>
    </div>

    <script>

        document.querySelector("#updatePassword").disabled = true;

        document.querySelector("#confirm-pass").onkeyup = function() {
            let password = document.querySelector("#password").value;
            let confirmation = document.querySelector("#confirm-pass").value;

            if (password.match(/^^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/i)) {
                document.querySelector("#updatePassword").disabled = true;
                if (confirmation === password) {
                    document.querySelector("#updatePassword").disabled = false;
                }
            }
            else {
                document.querySelector('#updatePassword').disabled = true;
            }
        }
    </script>
{% endblock %}