{% extends "layout.html" %}

{% block title %}
    Server
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
    {% endif %}
{% endblock %}

{% block main %}
    <form action="/server" method="post" enctype="multipart/form-data">
        <div>
            <div>user IP: {{ userIp }}</div>
            <div>user Port: {{ userPort }}</div>
            <div>server IP: {{ serverIp }}</div>
        </div>
        <br>
        <div>
            <a href="/">Index</a>
        </div>
    </form>
{% endblock %}