{% extends "layout.html" %}

{% block title %}
    Server
{% endblock %}

{% block navigation %}
    {% if role == "admin" %}
    {% endif %}
{% endblock %}

{% block main %}

    <div>
        <div>user IP: {{ userIp }}</div>
        <div>user Port: {{ userPort }}</div>
    </div>
    <br>
    <div>
        <button onclick="sending()" type="submit">Check</button>
    </div>
    <div id="result">

    </div>

    <form action="/server" method="post">
    </form>
    <br>
    <div>
        <a href="/">Index</a>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();

        function sending() {
            const date = new Date();
            let time = date.getTime();
            socket.emit("serverIncoming", time);
        }

        socket.on("serverOutgoing", (result) => {
            document.getElementById("result").innerHTML = "<div></div>";
            document.getElementById("result").innerHTML += "<br>" + "<div>" + result + "</div>";
        });
    </script>
{% endblock %}